__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.env
*.log
logs/
data/
dataset*/
checkpoints/
outputs/
runs/
*.pt
*.pth
*.ckpt
*.pkl
*.npy
*.npz
UNI/
result_v2_Contrastive_loss/
result_v3/
result_v4/
result_v4B/
result_v4C/
result_v5/
result_v6/
result_v7A/
result_v7B/
result_v7C/
preprocessed_cache/