__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.env
*.log
logs/
data/
dataset*/
checkpoints/
outputs/
runs/
*.pt
*.pth
*.ckpt
*.pkl
*.npy
*.npz
UNI/
result_v2_Contrastive_loss/
result_v3/
result_v4/
result_v4B/
result_v4C/
result_v5/
result_v6/
result_v7A/
result_v7B/
result_v7C/
preprocessed_cache/
refactor_checks/
outcome_test/
result_test/
result_v15C-2/
result_v16B-2/
result_v16C-2/
result_v19A-2/
result_v20A-2/
experiments/
result_v21/
result_v22/
result_v23/